참고 링크: https://dacon.io/codeshare/1639?dtype=recent

위도,경도 추가: https://gsuite.google.com/marketplace/app/geocode_by_awesome_table/904124517349

In [1]:
import pandas as pd

In [7]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
from tqdm.notebook import tqdm

In [15]:
driver = webdriver.Chrome("../../Downloads/chromedriver")

In [18]:
def get_search_page_url(code):
    return 'https://www.metro9.co.kr/site/program/station/info?menuid=001001002&station_code={}'.format(code)

code=901
url = get_search_page_url(code)

In [20]:
def get_line9_items(line9_items):
    line9_data = []
    for line9_item in line9_items:
        #역명
        try:
            station_name = line9_item.select('div.table_type_h1.mt2 >table > tbody > tr > td:nth-child(1)')[0].text
        except:
            station_name =''
        #주소
        try:
            station_add = line9_item.select('div.table_type_h1.mt2 >table > tbody > tr > td:nth-child(5)')[0].text
        except:
            station_add =''
    
        line9_data.append([station_name,station_add])
    return line9_data

In [23]:
driver = webdriver.Chrome("../../Downloads/chromedriver")

line9_data_total=[]

#진행상황 출력
for code in tqdm(range(901,939)):
    url = get_search_page_url(code)
    driver.get(url)
    time.sleep(3) # 페이지 로딩하는데 시간이 걸림
    
    #현재 페이지 html문서 가져오가
    html = driver.page_source
    soup = BeautifulSoup(html,'html.parser')
    
    line9_items =  soup.select('div.inner')
    line9_data_list = get_line9_items(line9_items)
    
    line9_data_total = line9_data_total + line9_data_list

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=38.0), HTML(value='')))

In [25]:
# dataframe 으로 만들어주기
data = pd.DataFrame(line9_data_total)
data.columns = ['역명','상세주소']
data['호선'] = '9'
data

        역명                           상세주소 호선
0       개화            서울특별시 강서구 개화동로8길 19  9
1     김포공항             서울특별시 강서구 하늘길 지하77  9
2     공항시장           서울특별시 강서구 방화동로 지하30   9
3      신방화           서울특별시 강서구 방화대로 지하301  9
4     마곡나루           서울특별시 강서구 마곡중앙5로 지하2  9
5     양천향교            서울특별시 강서구 양천로 지하341  9
6       가양            서울특별시 강서구 양천로 지하485  9
7       증미            서울특별시 강서구 양천로 지하560  9
8       등촌           서울특별시 강서구 공항대로 지하529  9
9       염창           서울특별시 강서구 공항대로 지하631  9
10     신목동          서울특별시 양천구 목동중앙로 지하217  9
11     선유도           서울특별시 영등포구 양평로 지하124  9
12      당산             서울특별시 영등포구 당산로 229  9
13   국회의사당          서울특별시 영등포구 국회대로 지하758  9
14     여의도  서울특별시 영등포구 의사당대로 지하101 (여의도동)  9
15      샛강         서울특별시 영등포구 의사당대로 지하166  9
16     노량진           서울특별시 동작구 노량진로 지하130  9
17      노들      서울특별시 동작구 노량진로 지하238 (본동)  9
18      흑석       서울특별시 동작구 현충로 지하90 (흑석동)  9
19      동작      서울특별시 동작구 현충로 지하220 (동작동)  9
20     구반포            서울특별시 서초구 신반포로 지하17  9
21     신반포           서울특별시 서초구 신반포로 지하105  9
22   고속터미널           서울특별시 서초구 신반포로 지하188  9
23      사평           서울특별시 서초구 사평대로 지하285  9
24     신논현           서울특별시 강남구 봉은사로 지하102  9
25      언주             서울특별시 강남구 봉은사로 201  9
26     선정릉              서울특별시 강남구 선릉로 580  9
27    삼성중앙             서울특별시 강남구 봉은사로 501  9
28     봉은사             서울특별시 강남구 봉은사로 601  9
29   종합운동장              서울특별시 송파구 올림픽로 23  9
30      삼전            서울특별시 송파구 백제고분로 187  9
31    석촌고분              서울특별시 송파구 삼학사로 53  9
32      석촌             서울특별시 송파구 송파대로 439  9
33    송파나루            서울특별시 송파구 백제고분로 446  9
34    한성백제                   송파구 위례성대로 51  9
35   올림픽공원            서울특별시 송파구 양재대로 1233  9
36    둔촌오륜             서울특별시 강동구 강동대로 305  9
37  중앙보훈병원              서울특별시 강동구 명일로 117  9

In [33]:
df=pd.read_excel('data/subwayadd.xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,연번,역명,호선,구,동,상세주소,전화번호
1,1,서울,1,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선),6110-1331
2,2,시청,1,중구,정동,서울특별시 중구 정동 5-5 시청역(1호선),6110-1321
3,3,종각,1,종로구,종로1가,서울특별시 종로구 종로1가 54 종각지하철역사,6110-1311
4,4,종로3가,1,종로구,종로3가,서울특별시 종로3가 10-5 1호선 종로3가역(1호선),6110-1301
...,...,...,...,...,...,...,...
274,274,남한산성입구(성남법원•검찰청),8,성남시,수정구 단대동,경기도 성남시 수정구 단대동 96 남한산성입구역,6311-8220
275,275,단대오거리,8,성남시,수정구 신흥동,경기도 성남시 수정구 신흥동 2467 단대오거리역,6311-8230
276,276,신흥,8,성남시,수정구 신흥동,경기도 성남시 수정구 신흥동 2467 신흥역,6311-8240
277,277,수진,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1 수진역,6311-8250
278,278,모란,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 4808 모란역,6311-8260

In [38]:
df.columns=list(df.iloc[0, :])

In [41]:
df=df.drop(index=0)

In [51]:
df.index = df['연번']
df=df.drop(columns='연번',axis=0)
df

,역명,호선,구,동,상세주소,전화번호
연번,,,,,,
1,서울,1,중구,봉래동,서울특별시 중구 봉래동2가 122 서울역(1호선),6110-1331
2,시청,1,중구,정동,서울특별시 중구 정동 5-5 시청역(1호선),6110-1321
3,종각,1,종로구,종로1가,서울특별시 종로구 종로1가 54 종각지하철역사,6110-1311
4,종로3가,1,종로구,종로3가,서울특별시 종로3가 10-5 1호선 종로3가역(1호선),6110-1301
5,종로5가,1,종로구,종로5가,서울특별시 종로구 종로5가 82-1 1호선 종로5가역,6110-1291
...,...,...,...,...,...,...
274,남한산성입구(성남법원•검찰청),8,성남시,수정구 단대동,경기도 성남시 수정구 단대동 96 남한산성입구역,6311-8220
275,단대오거리,8,성남시,수정구 신흥동,경기도 성남시 수정구 신흥동 2467 단대오거리역,6311-8230
276,신흥,8,성남시,수정구 신흥동,경기도 성남시 수정구 신흥동 2467 신흥역,6311-8240
277,수진,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 2205-1 수진역,6311-8250
278,모란,8,성남시,수정구 수진동,경기도 성남시 수정구 수진동 4808 모란역,6311-8260

In [53]:
df=df.drop_duplicates('역명')

In [55]:
df=df[['역명','상세주소']]

In [57]:
data=data[['역명','상세주소']]

In [59]:
final=pd.concat([df,data])
final

        역명                             상세주소
1       서울      서울특별시 중구 봉래동2가 122 서울역(1호선)
2       시청         서울특별시 중구 정동 5-5 시청역(1호선)
3       종각        서울특별시 종로구 종로1가 54 종각지하철역사
4     종로3가  서울특별시 종로3가 10-5  1호선 종로3가역(1호선)
5     종로5가    서울특별시 종로구 종로5가 82-1 1호선 종로5가역
..     ...                              ...
33    송파나루              서울특별시 송파구 백제고분로 446
34    한성백제                     송파구 위례성대로 51
35   올림픽공원              서울특별시 송파구 양재대로 1233
36    둔촌오륜               서울특별시 강동구 강동대로 305
37  중앙보훈병원                서울특별시 강동구 명일로 117

[282 rows x 2 columns]

In [69]:
ad=pd.read_csv('data/add_all2.csv')

### 시각화 연습

In [70]:
import folium

In [85]:
center = [37.541,126.986]
m=folium.Map(location=center, zoom_start=12)

In [86]:
m

In [87]:
folium.Marker(
    location=[37.5657037,126.9768616],
    popup='시청',
    icon=folium.Icon(icon='cloud')
).add_to(m)
folium.Marker(
    location=[37.4970172,127.0281681],
    popup='강남역',
    icon=folium.Icon(color='green')
).add_to(m)

In [88]:
m