## 서울시 공공데이터 포털에서 OpenAPI 활용하여 원하는 데이터 셋을 가져옵니다.

1) 서울시 지하철 월/시간대 별 유동인구 공공데이터

2) 서울시 일자 별 코로나 확진자 현황 공공데이터

위 데이터를 조합해서 서울시 코로나 확진자에 따른 지하철 유동인구가 어떻게 변화하는지 살펴보려고 합니다.

In [1]:
import requests
import json
import pandas as pd

### Open API 사용하여 데이터 획득하기

- <a href='https://data.seoul.go.kr/dataList/OA-12252/S/1/datasetView.do'> 서울시 지하철 월/시간대 별 유동인구 데이터 </a>

-  <a href='https://data.seoul.go.kr/dataList/OA-20279/S/1/datasetView.do'> 서울시 코로나19 확진자 현황 </a>

1) 공공데이터 포털사이트 접속 및 가입, 로그인

2) OpenAPI 사용 신청

3) Key 획득

### 발급 받은 key값 입력
오픈 API 사용 신청하면, 사용자마다 고유한 Key 값을 제공해준다.

In [2]:
my_key='4c49554a7a68616e38304c64556d49'

## 1) 서울시 지하철 공공데이터

### endpoint 확인
- 오픈API 서비스되는 서버의 ip 혹은 domain 주소
- api활용 문서 확인해보면 endpoint 확인할 수 있는 코드 들어있으므로 복사해서 사용한다.
- datatype: xml 혹은 json 설정하여 받아오는데 최근에는 json 형식 많이 사용
- serviceKey에 위에 발급받은 key값 할당해준다.

- url 가져올때 샘플 url에 설명있음 -> 가져오고 싶은 범위 설정 가능

In [19]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202001/"

KEY: OpenAPI 발급된 키

TYPE: xml , xls , json 선택가능

In [20]:
#api 호출
resp=requests.get(endpoint)

In [21]:
data=resp.json()

In [22]:
subway=pd.DataFrame(data['CardSubwayTime']['row'])
subway.head(5)

,USE_MON,LINE_NUM,SUB_STA_NM,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,SEVEN_RIDE_NUM,...,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM,WORK_DT
0,202001,8호선,산성,22.0,0.0,4469.0,865.0,7308.0,5246.0,17343.0,...,5877.0,162.0,1885.0,1.0,8.0,0.0,0.0,0.0,0.0,20200203
1,202001,1호선,서울역,908.0,18.0,8948.0,7940.0,13146.0,47332.0,37251.0,...,17549.0,4190.0,5633.0,98.0,291.0,0.0,8.0,0.0,0.0,20200203
2,202001,1호선,시청,55.0,0.0,1999.0,3976.0,3497.0,19177.0,7417.0,...,3747.0,556.0,1063.0,7.0,38.0,0.0,0.0,0.0,0.0,20200203
3,202001,1호선,종각,126.0,5.0,4380.0,4683.0,4456.0,25858.0,6286.0,...,5038.0,2896.0,1577.0,9.0,22.0,0.0,0.0,0.0,0.0,20200203
4,202001,1호선,종로3가,160.0,25.0,4750.0,2452.0,4234.0,13222.0,5495.0,...,5357.0,2565.0,2284.0,30.0,89.0,0.0,0.0,0.0,0.0,20200203

### 2020년 데이터

In [16]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202001/"
resp=requests.get(endpoint)
data=resp.json()
s2001=pd.DataFrame(data['CardSubwayTime']['row'])
s2001.shape

(597, 52)

In [17]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202002/"
resp=requests.get(endpoint)
data=resp.json()
s2002=pd.DataFrame(data['CardSubwayTime']['row'])
s2002.shape

(597, 52)

In [18]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202003/"
resp=requests.get(endpoint)
data=resp.json()
s2003=pd.DataFrame(data['CardSubwayTime']['row'])
s2003.shape

(597, 52)

In [19]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202004/"
resp=requests.get(endpoint)
data=resp.json()
s2004=pd.DataFrame(data['CardSubwayTime']['row'])
s2004.shape

(599, 52)

In [20]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202005/"
resp=requests.get(endpoint)
data=resp.json()
s2005=pd.DataFrame(data['CardSubwayTime']['row'])
s2005.shape

(597, 52)

In [21]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202006/"
resp=requests.get(endpoint)
data=resp.json()
s2006=pd.DataFrame(data['CardSubwayTime']['row'])
s2006.shape

(600, 52)

In [22]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202007/"
resp=requests.get(endpoint)
data=resp.json()
s2007=pd.DataFrame(data['CardSubwayTime']['row'])
s2007.shape

(598, 52)

In [23]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202008/"
resp=requests.get(endpoint)
data=resp.json()
s2008=pd.DataFrame(data['CardSubwayTime']['row'])
s2008.shape

(597, 52)

In [24]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/202009/"
resp=requests.get(endpoint)
data=resp.json()
s2009=pd.DataFrame(data['CardSubwayTime']['row'])
s2009.shape

(603, 52)

### 2019년 데이터

In [31]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201901/"
resp=requests.get(endpoint)
data=resp.json()
s1901=pd.DataFrame(data['CardSubwayTime']['row'])
s1901.shape

(598, 52)

In [32]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201902/"
resp=requests.get(endpoint)
data=resp.json()
s1902=pd.DataFrame(data['CardSubwayTime']['row'])
s1902.shape

(598, 52)

In [33]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201903/"
resp=requests.get(endpoint)
data=resp.json()
s1903=pd.DataFrame(data['CardSubwayTime']['row'])
s1903.shape

(598, 52)

In [34]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201904/"
resp=requests.get(endpoint)
data=resp.json()
s1904=pd.DataFrame(data['CardSubwayTime']['row'])
s1904.shape

(600, 52)

In [35]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201905/"
resp=requests.get(endpoint)
data=resp.json()
s1905=pd.DataFrame(data['CardSubwayTime']['row'])
s1905.shape

(597, 52)

In [36]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201906/"
resp=requests.get(endpoint)
data=resp.json()
s1906=pd.DataFrame(data['CardSubwayTime']['row'])
s1906.shape

(596, 52)

In [37]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201907/"
resp=requests.get(endpoint)
data=resp.json()
s1907=pd.DataFrame(data['CardSubwayTime']['row'])
s1907.shape

(597, 52)

In [38]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201908/"
resp=requests.get(endpoint)
data=resp.json()
s1908=pd.DataFrame(data['CardSubwayTime']['row'])
s1908.shape

(598, 52)

In [39]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201909/"
resp=requests.get(endpoint)
data=resp.json()
s1909=pd.DataFrame(data['CardSubwayTime']['row'])
s1909.shape

(597, 52)

In [40]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201910/"
resp=requests.get(endpoint)
data=resp.json()
s1910=pd.DataFrame(data['CardSubwayTime']['row'])
s1910.shape

(598, 52)

In [41]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201911/"
resp=requests.get(endpoint)
data=resp.json()
s1911=pd.DataFrame(data['CardSubwayTime']['row'])
s1911.shape

(597, 52)

In [42]:
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/CardSubwayTime/1/1000/201912/"
resp=requests.get(endpoint)
data=resp.json()
s1912=pd.DataFrame(data['CardSubwayTime']['row'])
s1912.shape

(597, 52)

### 데이터 합치기
- concat()

In [46]:
subway=pd.concat([s1901,s1902,s1903,s1904,s1905,s1906,s1907,s1908,s1909,
           s1910,s1911,s1912,s2001,s2002,s2003,s2004,s2005,s2006,s2007,s2008,s2009])

In [47]:
subway

,USE_MON,LINE_NUM,SUB_STA_NM,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,SEVEN_RIDE_NUM,...,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM,WORK_DT
0,201901,경원선,옥수,0.0,0.0,0.0,7.0,19.0,21.0,34.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20190203
1,201901,1호선,서울역,927.0,22.0,10682.0,8774.0,13504.0,45545.0,39110.0,...,19442.0,3612.0,7167.0,0.0,410.0,0.0,0.0,0.0,0.0,20190203
2,201901,1호선,시청,74.0,0.0,2409.0,4049.0,3532.0,19241.0,7703.0,...,4079.0,981.0,1256.0,3.0,29.0,0.0,0.0,0.0,0.0,20190203
3,201901,1호선,종각,100.0,8.0,4409.0,5105.0,4593.0,26969.0,6733.0,...,5560.0,4886.0,1722.0,0.0,0.0,0.0,0.0,0.0,0.0,20190203
4,201901,1호선,종로3가,122.0,4.0,5061.0,2520.0,3876.0,12832.0,6066.0,...,5503.0,3214.0,2471.0,0.0,52.0,0.0,0.0,0.0,0.0,20190203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,202009,중앙선,오빈,3.0,0.0,174.0,5.0,323.0,254.0,785.0,...,78.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,20201003
599,202009,중앙선,양평,69.0,5.0,1283.0,75.0,2544.0,1704.0,5476.0,...,1660.0,66.0,634.0,0.0,0.0,0.0,0.0,0.0,0.0,20201003
600,202009,중앙선,원덕,54.0,1.0,337.0,9.0,404.0,152.0,696.0,...,157.0,1.0,97.0,0.0,0.0,0.0,0.0,0.0,0.0,20201003
601,202009,중앙선,용문,294.0,1.0,765.0,4.0,1565.0,617.0,2775.0,...,992.0,1.0,527.0,0.0,0.0,0.0,0.0,0.0,0.0,20201003
602,202009,중앙선,지평,0.0,0.0,0.0,0.0,0.0,0.0,302.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20201003

### 파일 내보내기

subway.to_csv('/경로, 파일명')

## 2) 서울시 코로나 확진자  현황 데이터

In [23]:
#api 호출
endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/Corona19Status/1/1000/"
resp=requests.get(endpoint)
#print(resp.status_code)
#print(resp.text)
data=resp.json()
df1=pd.DataFrame(data['Corona19Status']['row'])
df1.head()

,CORONA19_ID,CORONA19_DATE,CORONA19_NO,CORONA19_COUNTRY,CORONA19_PERSONAL,CORONA19_AREA,CORONA19_TRAVEL_HISTORY,CORONA19_CONTACT_HISTORY,CORONA19_CORRECTIVE,CORONA19_LEAVE_STATUS,CORONA19_MOVING_PATH,CORONA19_IDATE,CORONA19_MDATE
0,1,1.24.,2,,,강서구,중국 우한시,해외 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
1,2,1.30.,5,,,중랑구,중국 우한시,해외 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
2,3,1.30.,6,,,종로구,,#3 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
3,4,1.30.,7,,,마포구,중국 우한시,해외 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
4,5,1.31.,9,,,성북구,,#5 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02

### Data 전체 읽어오기
- for문, concat() 사용
- 한번에 최대 1000개 까지 읽어올 수 있기 때문에, for문으로 데이터를 반복해서 읽음

In [5]:
#api 호출
for i in range(1,6):
    endpoint=f"http://openapi.seoul.go.kr:8088/{my_key}/json/Corona19Status/{i}001/{i+1}000/"
    resp=requests.get(endpoint)
    #print(resp.status_code)
    #print(resp.text)
    data=resp.json()
    df2=pd.DataFrame(data['Corona19Status']['row'])
    df1=pd.concat([df1,df2])

In [8]:
print(df1.shape)
df1.head()

(5702, 13)

,CORONA19_ID,CORONA19_DATE,CORONA19_NO,CORONA19_COUNTRY,CORONA19_PERSONAL,CORONA19_AREA,CORONA19_TRAVEL_HISTORY,CORONA19_CONTACT_HISTORY,CORONA19_CORRECTIVE,CORONA19_LEAVE_STATUS,CORONA19_MOVING_PATH,CORONA19_IDATE,CORONA19_MDATE
0,1,1.24.,2,,,강서구,중국 우한시,해외 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
1,2,1.30.,5,,,중랑구,중국 우한시,해외 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
2,3,1.30.,6,,,종로구,,#3 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
3,4,1.30.,7,,,마포구,중국 우한시,해외 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
4,5,1.31.,9,,,성북구,,#5 접촉,,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02

###  파일 내보내기

In [13]:
df1.to_csv('data/covid19_seoul.csv',encoding='ms949',index=False)

In [15]:
#잘 내보냈는지 확인 (글자깨짐 등등)
pd.read_csv('data/covid19_seoul.csv',encoding='ms949')

,CORONA19_ID,CORONA19_DATE,CORONA19_NO,CORONA19_COUNTRY,CORONA19_PERSONAL,CORONA19_AREA,CORONA19_TRAVEL_HISTORY,CORONA19_CONTACT_HISTORY,CORONA19_CORRECTIVE,CORONA19_LEAVE_STATUS,CORONA19_MOVING_PATH,CORONA19_IDATE,CORONA19_MDATE
0,1,1.24.,2,NaN,NaN,강서구,중국 우한시,해외 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
1,2,1.30.,5,NaN,NaN,중랑구,중국 우한시,해외 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
2,3,1.30.,6,NaN,NaN,종로구,NaN,#3 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
3,4,1.30.,7,NaN,NaN,마포구,중국 우한시,해외 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
4,5,1.31.,9,NaN,NaN,성북구,NaN,#5 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-10-19 10:57:09,2020-10-20 09:00:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5697,5698,10.18.,25234,NaN,NaN,관악구,NaN,송파구 잠언의료기,NaN,NaN,확인중,2020-10-19 10:57:20,2020-10-19 10:57:20
5698,5699,10.18.,25235,NaN,NaN,성북구,NaN,타시도 확진자 접촉,NaN,NaN,확인중,2020-10-19 10:57:20,2020-10-19 10:57:20
5699,5700,10.18.,25237,NaN,NaN,동작구,NaN,감염경로 조사중,NaN,NaN,※ 중앙방역대책본부 환자관리팀(’20.10.6.) 확진환자의 이동경로 등 정보공개 ...,2020-10-19 10:57:20,2020-10-19 11:18:02
5700,5701,10.18.,25244,NaN,NaN,용산구,이란,해외 접촉 추정,NaN,NaN,NaN,2020-10-19 10:57:20,2020-10-19 11:11:00
5701,5702,10.18.,25268,NaN,NaN,광진구,NaN,타시도 확진자 접촉,NaN,NaN,NaN,2020-10-19 10:57:20,2020-10-19 18:50:16